{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "parser": "typescript",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ".tjsclirc",
      "options": {
        "parser": "json5"
      }
    }
  ]
}
